fastapi
langchain
langchain-experimental
python-multipart
uvicorn
spacy
pandas
openpyxl
python-dotenv
pydantic
presidio-analyzer
presidio-anonymizer
Faker
langchain-ollama
langchain-groq
langchain-aws
langchain-openai
langchain-google-vertexai
pypdf
requests
langgraph
langchain-community
